<div
	class="max-[1440px]:px-4 flex flex-wrap max-[500px]:flex-col justify-center gap-x-4 gap-y-2 max-[500px]:gap-y-1 mt-4 z-10"
	[formGroup]="form"
>
	<label
		class="flex gap-x-2 text-slate-600 items-center"
		*ngIf="showChartStatisticControls"
	>
		<span class="whitespace-nowrap">
			<span class="text-pink-600">Chart</span>
			interval:
		</span>
		<select
			class="px-2 py-1 text-slate-800 appearance-none border rounded-md bg-white border-slate-200"
			formControlName="chart-interval"
		>
			<option value="record">Record</option>
			<option value="day">Day</option>
			<option value="week">Week</option>
			<option value="month">Month</option>
		</select>
	</label>

	<label
		class="flex gap-x-2 text-slate-600 items-center"
		*ngIf="showChartStatisticControls"
	>
		<span class="whitespace-nowrap">
			<span class="text-pink-600">Chart</span>
			by:
		</span>
		<select
			class="px-2 py-1 text-slate-800 appearance-none border rounded-md bg-white border-slate-200"
			formControlName="chart-by"
		>
			<option value="category">Category</option>
			<option value="group">Group</option>
		</select>
	</label>

	<label class="flex gap-x-2 text-slate-600 items-center">
		Mode:
		<select
			class="px-2 py-1 text-slate-800 appearance-none border rounded-md bg-white border-slate-200"
			formControlName="mode"
		>
			<option value="number">Number</option>
			<option value="time">Time</option>
			<option value="all">All</option>
		</select>
	</label>

	<label class="flex gap-x-2 text-slate-600 items-center relative z-10">
		Category:

		<la-category-select-multi
			buttonClass="px-2 py-1 text-slate-800 appearance-none border rounded-md bg-white border-slate-200"
			[categories]="categories"
			[categoryGroups]="categoryGroups"
			formControlName="categories"
			[value]="form.value.categories"
		></la-category-select-multi>
	</label>

	<label class="flex gap-x-2 text-slate-600 items-center">
		Comment:
		<select
			class="px-2 py-1 text-slate-800 appearance-none border rounded-md bg-white border-slate-200"
			formControlName="comment"
		>
			<option value="with">With comment</option>
			<option value="without">Without comment</option>
			<option value="all">All</option>
		</select>
	</label>

	<label class="flex gap-x-2 text-slate-600 items-center">
		Date:
		<select
			class="px-2 py-1 text-slate-800 appearance-none border rounded-md bg-white border-slate-200"
			formControlName="date"
		>
			<option value="week">Week</option>
			<option value="month">Month</option>
			<option value="prev-month">Previous month</option>
			<option value="from-date">From date</option>
			<option value="to-date">To date</option>
			<option value="beetween-dates">Beetween date</option>
			<option value="all">All</option>
		</select>
	</label>

	<mat-form-field *ngIf="form.value.date === 'from-date'">
		<input
			matInput
			formControlName="fromDateDate"
			[matDatepicker]="fromDatePicker"
		/>
		<mat-datepicker-toggle
			matIconSuffix
			[for]="fromDatePicker"
		></mat-datepicker-toggle>
		<mat-datepicker #fromDatePicker></mat-datepicker>
	</mat-form-field>

	<mat-form-field *ngIf="form.value.date === 'to-date'">
		<input
			matInput
			formControlName="toDateDate"
			[matDatepicker]="toDatePicker"
		/>
		<mat-datepicker-toggle
			matIconSuffix
			[for]="toDatePicker"
		></mat-datepicker-toggle>
		<mat-datepicker #toDatePicker></mat-datepicker>
	</mat-form-field>

	<mat-form-field *ngIf="form.value.date === 'beetween-dates'">
		<mat-date-range-input [rangePicker]="picker">
			<input
				matStartDate
				formControlName="beetweenDatesStartDate"
				placeholder="Start date"
			/>
			<input
				matEndDate
				formControlName="beetweenDatesEndDate"
				placeholder="End date"
			/>
		</mat-date-range-input>
		<mat-datepicker-toggle
			matIconSuffix
			[for]="picker"
		></mat-datepicker-toggle>

		<mat-date-range-picker #picker></mat-date-range-picker>

		<mat-error
			*ngIf="
				form.controls.beetweenDatesStartDate.hasError('matStartDateInvalid')
			"
		>
			Invalid start date
		</mat-error>
		<mat-error
			*ngIf="form.controls.beetweenDatesEndDate.hasError('matEndDateInvalid')"
		>
			Invalid end date
		</mat-error>
	</mat-form-field>

	<label class="flex gap-x-2 text-slate-600 items-center">
		Sorting:
		<select
			class="px-2 py-1 text-slate-800 appearance-none border rounded-md bg-white border-slate-200"
			formControlName="sorting"
		>
			<option value="count_desc">Count ▼</option>
			<option value="count_asc">Count ▲</option>
			<option value="comment_desc">Comment ▼</option>
			<option value="comment_asc">Comment ▲</option>
			<option value="category_desc">Category ▼</option>
			<option value="category_asc">Category ▲</option>
			<option value="date_desc">Date ▼</option>
			<option value="date_asc">Date ▲</option>
		</select>
	</label>
</div>
