<div
	class="w-full flex gap-x-3 items-center justify-center"
	*ngIf="userData"
>
	<img
		class="w-24 h-24 rounded-full"
		[src]="userData.picture"
		alt=""
	/>

	<div class="h-24 w-[1px] border border-slate-400 border-dashed"></div>

	<form
		[formGroup]="formData"
		(ngSubmit)="onSubmitAddForm()"
		class="p-4 flex flex-col gap-y-5"
	>
		<label class="flex gap-x-5 justify-between items-center">
			Name
			<input
				formControlName="name"
				class="px-2 py-1 border border-slate-300 rounded"
				type="text"
				required
			/>
		</label>

		<label class="flex gap-x-5 justify-between items-center">
			Nickname
			<input
				formControlName="nickname"
				class="px-2 py-1 border border-slate-300 rounded"
				type="text"
			/>
		</label>

		<div class="flex flex-col gap-y-2 items-center">
			<span
				*ngIf="errorMessage"
				class="text-red-400 text-center text-sm"
			>
				{{ errorMessage }}
			</span>

			<button
				type="submit"
				class="border-green-500 bg-green-100 border py-2 rounded-md w-full"
			>
				Update
			</button>
		</div>
	</form>
</div>
