.la-logo-animation {
	--la-logo-animation-first-color: #fb923c;
	--la-logo-animation-second-color: #fbbf24;

	background: linear-gradient(
		45deg,
		var(--la-logo-animation-first-color) 0%,
		var(--la-logo-animation-second-color) 33%,
		var(--la-logo-animation-first-color) 66%,
		var(--la-logo-animation-second-color) 100%
	);

	background-clip: text;
	-webkit-text-fill-color: transparent;

	background-size: 300% 300%;
	animation: la-logo-animation-color 6s linear infinite;
}

.la-logo-link[aria-disabled='true'] .la-logo-animation {
	--la-logo-animation-first-color: #64748b;
	--la-logo-animation-second-color: #94a3b8;
}

.la-logo-link:hover:not([aria-disabled='true']) .la-logo-animation {
	--la-logo-animation-first-color: #3b82f6;
	--la-logo-animation-second-color: #38bdf8;
}

@keyframes la-logo-animation-color {
	0% {
		background-position: 100% 0%;
	}
	100% {
		background-position: 15% 100%;
	}
}
