<div class="max-[1110px]:overflow-x-scroll max-[960px]:pb-2">
	<mat-paginator
		#paginator
		[length]="paginatorData.length"
		[pageSize]="paginatorData.pageSize"
		(page)="handlePageEvent($event)"
		[pageSizeOptions]="paginatorPageIndexs"
		[pageIndex]="paginatorData.pageIndex"
		class="demo-paginator"
		aria-label="Select page"
	></mat-paginator>

	<table class="max-[960px]:w-[960px] w-full table-auto border-white border-2">
		<tr class="text-slate-700">
			<th></th>
			<th class="table-head-item--left">Count</th>
			<th class="table-head-item">Comment</th>
			<th class="table-head-item">Category</th>
			<th class="table-head-item">Date</th>
		</tr>
		<ng-container *ngFor="let record of statisticForOutputInTable">
			<tr
				*ngIf="record.category !== null"
				class="group table-row text-slate-600 transition-opacity relative"
			>
				<td>
					<la-table-control-button
						*ngIf="record && showControl"
						class="la-categories-table-control group-hover:opacity-100 opacity-0 transition-all duration-100 ease-out"
						cdkDragHandle
						(buttonClick)="onControlButtonClick(record._id)"
						[class.opacity-100]="showMenu === record._id"
						laFormClose
						[formCloseActive]="showMenu === record._id"
						(formClose)="onFormClickedOutside(record._id)"
						[allowShowHint]="false"
					>
						<la-panel-form
							*ngIf="showMenu === record._id"
							additionalClasses="mt-2 max-[1110px]:left-0 left-1/2 max-[1110px]:translate-x-0 -translate-x-1/4 w-36"
							(mousedown)="stopPropagation($event)"
						>
							<!-- (mousedown)="stopPropagation($event)" -->
							<la-panel-form-item
								type="edit"
								(itemClick)="editStastisticStatus(record)"
							></la-panel-form-item>

							<la-panel-form-item
								type="delete"
								(itemClick)="deleteStatisticRecord(record)"
							></la-panel-form-item>

							<la-statistic-form
								*ngIf="editStatisticRecordId === record._id"
								class="absolute top-6 left-8"
								[fromType]="'edit'"
								[initialFormData]="{
									date: record.date,
									count: record.count,
									comment: record.comment,
									category: record.category._id
								}"
								[categoryMode]="record.category.mode"
								(formSubmit)="editStastistic(record, $event)"
							></la-statistic-form>
						</la-panel-form>
					</la-table-control-button>
				</td>

				<td
					class="px-3 py-2 max-[960px]:py-1 border border-slate-300 border-l-0 font-medium"
				>
					<la-not-sync-status-icon
						[status]="record.status"
					></la-not-sync-status-icon>

					<span [ngSwitch]="record.category.mode">
						<span *ngSwitchCase="'number'">
							{{ record.count }}
						</span>
						<span *ngSwitchCase="'time'">
							{{ record.count * 1000 | date: 'H:mm:ss':'UTC' }}
						</span>
					</span>
				</td>

				<td
					class="max-w-[30%] w-full px-3 py-2 max-[960px]:py-1 border border-slate-300"
				>
					<div class="word-break">
						{{ record.comment }}
					</div>
				</td>
				<td class="px-3 py-2 max-[960px]:py-1 border border-slate-300">
					<div class="flex gap-2 items-center">
						<la-cicle [color]="record.category.color"></la-cicle>
						<div class="word-break">
							{{ record.category.name }}
							<span
								*ngIf="record.category.dimension"
								class="text-slate-400"
							>
								({{ record.category.dimension }})
							</span>
						</div>
					</div>
				</td>

				<td class="px-3 py-2 max-[960px]:py-1 border border-slate-300">
					{{ record.date | date: 'MMM dd, HH:mm:ss' }}
					<div class="inline text-slate-400">
						{{ record.date | date: 'y' }}
					</div>
				</td>
			</tr>
		</ng-container>
	</table>
</div>
