<form
	[formGroup]="formData"
	(ngSubmit)="onSubmitAddForm()"
	class="z-20 p-4 absolute mt-3 border border-slate-400 rounded-lg flex flex-col gap-y-5 shadow bg-white"
>
	<label class="flex gap-x-5 justify-between items-center">
		Name
		<input
			formControlName="name"
			class="px-2 py-1 border border-slate-300 rounded"
			type="text"
			required
		/>
	</label>

	<label class="flex gap-x-5 justify-between items-center">
		Comment
		<input
			formControlName="comment"
			class="px-2 py-1 border border-slate-300 rounded"
			type="text"
		/>
	</label>

	<label class="flex gap-x-5 justify-between items-center">
		Dimension
		<input
			formControlName="dimension"
			class="px-2 py-1 border border-slate-300 rounded"
			type="text"
		/>
	</label>

	<label class="flex gap-x-5 justify-between items-center">
		Mode
		<select
			required
			formControlName="mode"
			class="px-2 py-1 border border-slate-300 rounded w-[250px] bg-white text-slate-700"
		>
			<option value="number">Number</option>
			<option value="time">Time</option>
		</select>
	</label>

	<la-color-select
		required
		formControlName="color"
	></la-color-select>

	<div class="flex flex-col gap-y-2 items-center">
		<span
			*ngIf="errorMessage"
			class="text-red-400 text-center text-sm"
		>
			{{ errorMessage }}
		</span>

		<button
			type="submit"
			class="border py-2 rounded-md w-full"
			[ngClass]="{
				'border-green-500 bg-green-100': formTypeIsAdd,
				'border-sky-500 bg-sky-100': formTypeIsEdit,
			}"
		>
			{{ formTypeIsAdd ? 'Add' : 'Save' }}
		</button>
	</div>
</form>
