<div class="max-[750px]:overflow-x-scroll max-[750px]:pb-4">
	<table
		class="max-[750px]:w-[1000px] h-auto table table-auto w-full mt-4 border-white border-2"
		*ngIf="categories && categories.length > 0; else categoriesTableStub"
	>
		<tr class="text-slate-700">
			<th></th>
			<th
				class="w-11 table-head-item--left"
				title="Color"
			>
				<la-table-color-head-item
					class="inline-block"
				></la-table-color-head-item>
			</th>
			<th
				class="table-head-item"
				title="Mode"
			>
				M
			</th>
			<th class="table-head-item">Name</th>
			<th class="table-head-item">Comment</th>
			<th class="table-head-item">Dimension</th>
			<th class="table-head-item">Group</th>
		</tr>
		<tbody
			class="w-full h-full relative leading-[1.1em]"
			cdkDropList
			(cdkDropListDropped)="drop($event)"
		>
			<tr
				class="group drop-item table-row text-slate-600 relative transition-opacity"
				[ngClass]="{
					'bg-slate-100': category.archived && type === 'all'
				}"
				*ngFor="let category of sortedByOrderCategories"
				cdkDrag
				[cdkDragData]="category"
				[cdkDragDisabled]="category.status !== undefined"
			>
				<td>
					<la-table-control-button
						*ngIf="category"
						class="la-categories-table-control group-hover:opacity-100 opacity-0 transition-all duration-100 ease-out"
						cdkDragHandle
						(buttonClick)="onControlButtonClick(category._id)"
						[class.opacity-100]="showMenu === category._id"
						laFormClose
						[formCloseActive]="showMenu === category._id"
						(formClose)="onFormClickedOutside(category._id)"
						[allowShowHint]="showMenu !== category._id"
					>
						<la-panel-form
							*ngIf="showMenu === category._id"
							additionalClasses="mt-2 max-[1110px]:left-0 left-1/2 max-[1110px]:translate-x-0 -translate-x-1/4 w-36"
							(mousedown)="stopPropagation($event)"
						>
							<la-panel-form-item
								type="edit"
								(itemClick)="setEditCategoryId(category._id)"
							></la-panel-form-item>

							<la-panel-form-item
								type="delete"
								(itemClick)="deleteCategory(category)"
							></la-panel-form-item>

							<la-panel-form-item
								type="archive"
								(itemClick)="archiveCategory(category)"
							></la-panel-form-item>

							<la-categories-form
								*ngIf="editCategoryId === category._id"
								class="absolute top-6"
								[fromType]="'edit'"
								[initialFormData]="{
									name: category.name,
									comment: category.comment,
									color: category.color,
									dimension: category.dimension || '',
									mode: category.mode
								}"
								(formSubmit)="editCategory(category, $event)"
							></la-categories-form>
						</la-panel-form>
					</la-table-control-button>
				</td>

				<td class="la-table-border border-l-0 z-0">
					<div class="flex gap-x-3 items-center justify-center capitalize">
						<la-cicle [color]="category.color"></la-cicle>
					</div>
				</td>

				<td class="la-table-border">
					<div class="px-2 py-1 h-full w-full flex items-center justify-center">
						<svg-icon
							*ngIf="category.mode === 'time'"
							title="time"
							class="inline-block w-6 fill-slate-500 group-disabled/form-item:opacity-50"
							src="assets/icons/time-outline.svg"
						></svg-icon>

						<svg-icon
							*ngIf="category.mode === 'number'"
							title="number"
							class="inline-block w-7 fill-slate-500 group-disabled/form-item:opacity-50"
							src="assets/icons/number-outline.svg"
						></svg-icon>
					</div>
				</td>

				<td class="la-table-item-paddings la-table-border">
					<la-not-sync-status-icon
						[status]="category.status"
					></la-not-sync-status-icon>

					<div class="word-break">
						{{ category.name }}
					</div>
				</td>

				<td class="la-table-item-paddings la-table-border">
					<div class="word-break">
						{{ category.comment }}
					</div>
				</td>

				<td class="la-table-item-paddings la-table-border">
					<div class="word-break">
						{{ category.dimension }}
					</div>
				</td>

				<td class="max-w-[50%] relative p-0 la-table-border">
					<la-category-groups-cell
						[allCategoryGroups]="allCategoryGroups"
						[categoryGroups]="category.group"
						(changeCategoryGroups)="changeCategoryGroups(category, $event)"
					></la-category-groups-cell>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<ng-template #categoriesTableStub>
	<div
		class="text-xl text-center h-full w-full flex items-center justify-center"
	>
		<span *ngIf="currentStatus !== 'synchronized'">Loading</span>
		<span *ngIf="currentStatus === 'synchronized'">
			<span class="text-pink-500">Categories</span>
			not found
		</span>
	</div>
</ng-template>
