<div
	class="relative h-full flex flex-col transition-all"
	laFormClose
	[formCloseActive]="isOpened"
	(formClose)="closeWithChecks()"
	data-testid="user-panel-main"
>
	<la-user-panel-plug
		*ngIf="!userInfo || !userInfo.authorized"
	></la-user-panel-plug>

	<la-user-panel-open-button
		*ngIf="userInfo && userInfo.authorized"
		[userInfo]="userInfo"
		[isOpened]="isOpened"
		(buttonClick)="onBadgeClick()"
	></la-user-panel-open-button>

	<la-user-panel-form
		*ngIf="isOpened"
		[userInfo]="userInfo"
		(itemClick)="onClick($event)"
	></la-user-panel-form>
</div>
