<form
	[formGroup]="formData"
	(ngSubmit)="onSubmitAddForm($event)"
	(click)="stopPropagation($event)"
	(keypress)="stopPropagation($event)"
	(keydown)="stopPropagation($event)"
	(keyup)="stopPropagation($event)"
	class="z-20 mt-2 ml-3 p-4 absolute border border-slate-400 rounded-lg flex flex-col gap-y-5 shadow bg-white"
>
	<label class="flex gap-x-5 justify-between items-center">
		Name
		<input
			formControlName="name"
			class="px-2 py-1 border border-slate-300 rounded"
			type="text"
		/>
	</label>

	<la-color-select formControlName="color"></la-color-select>

	<div class="flex flex-col gap-y-2 items-center">
		<span
			*ngIf="errorMessage"
			class="text-red-400 text-center text-sm"
		>
			{{ errorMessage }}
		</span>

		<div class="w-full flex gap-x-2">
			<button
				*ngIf="formTypeIsEdit"
				type="button"
				class="w-full border py-2 rounded-md border-red-500 bg-red-100"
				(click)="deleteButtonClick()"
			>
				Delete
			</button>

			<button
				type="submit"
				class="w-full border py-2 rounded-md"
				[ngClass]="{
					'border-green-500 bg-green-100': formTypeIsAdd,
					'border-sky-500 bg-sky-100': formTypeIsEdit
				}"
			>
				{{ formTypeIsAdd ? 'Add' : 'Save' }}
			</button>
		</div>
	</div>
</form>
