<div class="flex justify-center">
	<div class="py-4 px-6 rounded-xl mt-24 shadow-md">
		<h2 class="text-xl text-slate-700 text-center">Login</h2>

		<div class="mt-4">
			<asl-google-signin-button
				type="standard"
				size="large"
				width="300px"
			></asl-google-signin-button>
		</div>
	</div>
</div>
