<fieldset class="flex gap-x-3 items-center justify-center max-w-sm">
	<div
		class="w-5 h-5"
		*ngFor="let color of standartColors"
	>
		<input
			[id]="'category-color-' + color"
			[value]="color"
			[(ngModel)]="choicedColor"
			(ngModelChange)="checkColor($event)"
			class="category-color-input absolute top-0 left-0 opacity-0 w-0 h-0"
			type="radio"
			name="color"
		/>

		<label
			[for]="'category-color-' + color"
			class="cursor-pointer category-color-label inline-block w-full h-full rounded-full"
			[style]="{ background: color }"
		></label>
	</div>
	<div class="h-4 w-[1px] bg-slate-400"></div>
	<div class="w-5 h-5">
		<input
			[id]="'category-color-custom'"
			[value]="customColor"
			[(ngModel)]="customColor"
			(ngModelChange)="checkColor($event, 'custom')"
			class="category-color-input absolute top-0 left-0 opacity-0 w-0 h-0"
			type="color"
			name="color"
			[attr.checked]="choicedColor === customColor"
		/>

		<label
			[for]="'category-color-custom'"
			class="cursor-pointer border text-sm category-color-label flex items-center justify-center w-full h-full rounded-full"
			[style]="{ background: customColor || '' }"
		>
			<span *ngIf="!customColor">C</span>
		</label>
	</div>
</fieldset>
