<div
	class="h-full w-full"
	laFormClose
	[formCloseActive]="isFormShowed"
	(formClose)="closeForm()"
	tabindex="0"
	(keypress)="toggleFormOnKeyPress($event)"
>
	<div
		class="min-h-[39px] flex la-table-item-paddings h-full w-full gap-x-2 gap-y-1 flex-wrap cursor-pointer"
		(click)="showForm()"
	>
		<la-category-groups-item
			*ngFor="let categoryGroup of choicedCategoryGroups"
			[name]="categoryGroup.name"
			[color]="categoryGroup.color"
		></la-category-groups-item>
	</div>

	<div *ngIf="isFormShowed">
		<la-category-groups-form
			*ngIf="isFormShowed"
			[categoryGroups]="allCategoryGroups"
			[choicedCategoryGroups]="choicedCategoryGroups"
			(addChoicedCategoryGroup)="addChoicedCategoryGroup($event)"
			(deleteChoicedCategoryGroup)="deleteChoicedCategoryGroup($event)"
			(editCategoryGroup)="editCategoryGroup($event)"
			(deleteCategoryGroup)="deleteCategoryGroup($event)"
			(addNewCategoryGroup)="addNewCategoryGroup($event)"
		></la-category-groups-form>
	</div>
</div>
