<div class="mt-5">
	<div class="mb-5">
		<h2 class="text-2xl flex gap-x-2 items-center justify-center">
			<svg-icon
				class="w-6"
				[applyClass]="true"
				src="assets/icons/trash-can.svg"
			></svg-icon>
			Trash
		</h2>
	</div>

	<div class="mx-auto max-w-[960px]">
		<div
			class="max-[750px]:overflow-x-scroll max-[750px]:pb-4"
			*ngIf="seance && seance.length > 0"
		>
			<h3 class="text-center text-xl">Seances</h3>

			<table
				class="max-[750px]:w-[1000px] h-auto table table-auto w-full mt-4 border-white border-2"
			>
				<tr class="text-slate-700">
					<th></th>
					<th
						class="w-11 table-head-item table-head-item--left"
						title="Color"
					>
						<la-table-color-head-item
							class="inline-block"
						></la-table-color-head-item>
					</th>
					<th class="table-head-item">Name</th>
					<th class="table-head-item">Expires</th>
					<th class="table-head-item">Comment</th>

					<th class="table-head-item">Records count</th>
				</tr>
				<tbody class="w-full h-full relative leading-[1.1em]">
					<tr
						class="group drop-item table-row text-slate-600 relative transition-opacity"
						*ngFor="let seance of seance"
					>
						<td>
							<la-table-control-button
								*ngIf="seance"
								class="la-categories-table-control group-hover:opacity-100 opacity-0 transition-all duration-100 ease-out"
								(buttonClick)="onControlButtonClick(seance._id)"
								[class.opacity-100]="showMenu === seance._id"
								laFormClose
								[formCloseActive]="showMenu === seance._id"
								(formClose)="onFormClickedOutside(seance._id)"
								[allowShowHint]="false"
							>
								<la-panel-form
									*ngIf="showMenu === seance._id"
									additionalClasses="mt-2 max-[1110px]:left-0 left-1/2 max-[1110px]:translate-x-0 -translate-x-1/4 w-36"
									(mousedown)="stopPropagation($event)"
								>
									<la-panel-form-item
										type="restore"
										(itemClick)="restoreSeance(seance)"
									></la-panel-form-item>

									<la-panel-form-item
										type="delete"
										(itemClick)="deleteSeance(seance)"
									></la-panel-form-item>
								</la-panel-form>
							</la-table-control-button>
						</td>

						<td class="la-table-border border-l-0 z-0">
							<div class="flex gap-x-3 items-center justify-center capitalize">
								<la-cicle [color]="seance.color"></la-cicle>
							</div>
						</td>

						<td class="la-table-item-paddings la-table-border">
							<la-not-sync-status-icon
								[status]="seance.status"
							></la-not-sync-status-icon>

							<div class="word-break">
								{{ seance.name }}
							</div>
						</td>

						<td class="la-table-item-paddings la-table-border text-red-600">
							{{ seance.trash_expires | date: 'dd.mm.yyyy HH:mm' }}
						</td>

						<td
							class="px-4 w-full max-w-[40%] max-[750px]:px-2 py-2 la-table-border"
						>
							<div class="word-break">
								{{ seance.comment }}
							</div>
						</td>

						<td class="la-table-item-paddings la-table-border">
							<span *ngIf="seance.records.length > 0">
								<span class="text-pink-600 font-medium">
									{{ seance.records.length }}
								</span>
								records
							</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div
			class="mt-5 max-[750px]:overflow-x-scroll max-[750px]:pb-4"
			*ngIf="categories && categories.length > 0"
		>
			<h3 class="text-center text-xl">Categories</h3>

			<table
				class="max-[750px]:w-[1000px] h-auto table table-auto w-full mt-4 border-white border-2"
			>
				<tr class="text-slate-700">
					<th></th>
					<th
						class="w-11 table-head-item--left"
						title="Color"
					>
						<la-table-color-head-item
							class="inline-block"
						></la-table-color-head-item>
					</th>
					<th
						class="table-head-item"
						title="Mode"
					>
						M
					</th>
					<th class="table-head-item">Name</th>
					<th class="table-head-item">Expires</th>
					<th class="table-head-item">Comment</th>
					<th class="table-head-item">Dimension</th>
					<th class="table-head-item">Connected Statistic</th>
				</tr>
				<tbody class="w-full h-full relative leading-[1.1em]">
					<tr
						class="group drop-item table-row text-slate-600 relative transition-opacity"
						*ngFor="let category of categories"
					>
						<td>
							<la-table-control-button
								*ngIf="category"
								class="la-categories-table-control group-hover:opacity-100 opacity-0 transition-all duration-100 ease-out"
								(buttonClick)="onControlButtonClick(category._id)"
								[class.opacity-100]="showMenu === category._id"
								laFormClose
								[formCloseActive]="showMenu === category._id"
								(formClose)="onFormClickedOutside(category._id)"
								[allowShowHint]="false"
							>
								<la-panel-form
									*ngIf="showMenu === category._id"
									additionalClasses="mt-2 max-[1110px]:left-0 left-1/2 max-[1110px]:translate-x-0 -translate-x-1/4 w-36"
									(mousedown)="stopPropagation($event)"
								>
									<la-panel-form-item
										type="restore"
										(itemClick)="restoreCategory(category)"
									></la-panel-form-item>

									<la-panel-form-item
										type="delete"
										(itemClick)="deleteCategory(category)"
									></la-panel-form-item>
								</la-panel-form>
							</la-table-control-button>
						</td>

						<td class="la-table-border border-l-0 z-0">
							<div class="flex gap-x-3 items-center justify-center capitalize">
								<la-cicle [color]="category.color"></la-cicle>
							</div>
						</td>

						<td class="la-table-border">
							<div
								class="px-2 py-1 h-full w-full flex items-center justify-center"
							>
								<svg-icon
									*ngIf="category.mode === 'time'"
									title="time"
									class="inline-block w-6 fill-slate-500 group-disabled/form-item:opacity-50"
									src="assets/icons/time-outline.svg"
								></svg-icon>

								<svg-icon
									*ngIf="category.mode === 'number'"
									title="number"
									class="inline-block w-7 fill-slate-500 group-disabled/form-item:opacity-50"
									src="assets/icons/number-outline.svg"
								></svg-icon>
							</div>
						</td>

						<td class="la-table-item-paddings la-table-border">
							<la-not-sync-status-icon
								[status]="category.status"
							></la-not-sync-status-icon>

							<div class="word-break">
								{{ category.name }}
							</div>
						</td>

						<td class="la-table-item-paddings la-table-border text-red-600">
							{{ category.trash_expires | date: 'dd.mm.yyyy HH:mm' }}
						</td>

						<td class="la-table-item-paddings la-table-border">
							<div class="word-break">
								{{ category.comment }}
							</div>
						</td>

						<td class="la-table-item-paddings la-table-border">
							<div class="word-break">
								{{ category.dimension }}
							</div>
						</td>
						<td class="la-table-item-paddings la-table-border">
							<span *ngIf="categoriesStatisticCount[category._id] > 0">
								<span class="text-pink-600 font-medium">
									{{ categoriesStatisticCount[category._id] }}
								</span>
								records
							</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div
			class="mt-5 max-[1110px]:overflow-x-scroll max-[960px]:pb-2"
			*ngIf="statistic && statistic.length > 0"
		>
			<h3 class="text-center text-xl">Statistic</h3>

			<table
				class="max-[960px]:w-[960px] mt-4 w-full table-auto border-white border-2"
			>
				<tr class="text-slate-700">
					<th></th>
					<th
						*ngIf="hideStatusCol"
						class="table-head-item border-l-0"
					>
						S
					</th>
					<th
						class="table-head-item"
						[ngClass]="{
							'border-l-0': !hideStatusCol
						}"
					>
						Count
					</th>
					<th class="table-head-item">Expires</th>
					<th class="table-head-item">Category</th>
					<th class="table-head-item">Comment</th>
					<th class="table-head-item">Date</th>
				</tr>
				<ng-container *ngFor="let record of statistic">
					<tr
						*ngIf="record.category !== null"
						class="group relative table-row text-slate-600 transition-opacity"
						[ngClass]="{
							'bg-slate-100': getStatisticRecordStatus(record).blocked,
							'bg-slate-200': getStatisticRecordStatus(record).disabled
						}"
					>
						<td class="bg-white">
							<la-table-control-button
								class="la-categories-table-control group-hover:opacity-100 opacity-0 transition-all duration-100 ease-out"
								(buttonClick)="onControlButtonClick(record._id)"
								[class.opacity-100]="showMenu === record._id"
								laFormClose
								[formCloseActive]="showMenu === record._id"
								(formClose)="onFormClickedOutside(record._id)"
								[allowShowHint]="false"
							>
								<la-panel-form
									*ngIf="showMenu === record._id"
									additionalClasses="mt-2 max-[1110px]:left-0 left-1/2 max-[1110px]:translate-x-0 -translate-x-1/4 w-36"
									(mousedown)="stopPropagation($event)"
								>
									<la-panel-form-item
										type="restore"
										(itemClick)="restoreStatisticRecord(record)"
										[disabled]="record.category.trash"
									></la-panel-form-item>

									<la-panel-form-item
										type="delete"
										(itemClick)="deleteStatisticRecord(record)"
									></la-panel-form-item>
								</la-panel-form>
							</la-table-control-button>
						</td>

						<td
							*ngIf="hideStatusCol"
							class="px-3 py-2 max-[960px]:py-1 la-table-border border-l-0 font-medium"
						>
							{{ getStatisticRecordStatus(record).text }}
						</td>

						<td
							class="px-3 py-2 max-[960px]:py-1 la-table-border font-medium"
							[ngClass]="{
								'border-l-0': !hideStatusCol
							}"
						>
							<la-not-sync-status-icon
								[status]="record.status"
							></la-not-sync-status-icon>

							<span [ngSwitch]="record.category.mode">
								<span *ngSwitchCase="'number'">
									{{ record.count }}
								</span>
								<span *ngSwitchCase="'time'">
									{{ record.count * 1000 | date: 'H:mm:ss':'UTC' }}
								</span>
							</span>
						</td>

						<td class="la-table-item-paddings la-table-border text-red-600">
							{{ record.trash_expires | date: 'dd.mm.yyyy HH:mm' }}
						</td>

						<td class="px-3 py-2 max-[960px]:py-1 la-table-border">
							<div class="flex gap-2 items-center">
								<la-cicle [color]="record.category.color"></la-cicle>
								<div class="word-break">
									{{ record.category.name }}
									<span
										*ngIf="record.category.dimension"
										class="text-slate-400"
									>
										({{ record.category.dimension }})
									</span>
								</div>
							</div>
						</td>

						<td class="px-3 py-2 max-[960px]:py-1 la-table-border">
							<div class="word-break">
								{{ record.comment }}
							</div>
						</td>

						<td class="px-3 py-2 max-[960px]:py-1 la-table-border">
							{{ record.date | date: 'MMM d, h:mm:ss a' }}
							<div class="inline text-slate-400">
								{{ record.date | date: 'y' }}
							</div>
						</td>
					</tr>
				</ng-container>
			</table>
		</div>
	</div>
</div>
