<div
	*ngIf="
		statistics && statistics.length > 0 && statisticForOutput;
		else statisticPageStub
	"
>
	<la-statistic-chart
		[interval]="formData['chart-interval']"
		[by]="formData['chart-by']"
		[mode]="formData.mode"
		[formData]="formData"
		*ngIf="statisticForOutput"
		[statistics]="statisticForOutput"
	></la-statistic-chart>

	<la-statistic-controls
		[(formData)]="formData"
		(formDataChange)="formDataChange($event)"
	></la-statistic-controls>

	<div class="mt-6 flex justify-center">
		<div class="max-w-[960px] w-full">
			<div class="flex gap-x-2 items-center">
				<la-load-status-button
					class="max-[960px]:ml-4"
					type="statistic"
				></la-load-status-button>

				<a
					class="outline-button max-[960px]:ml-4"
					routerLink="/statistic/report"
				>
					Go to reports
				</a>
			</div>

			<la-statistic-table
				[statistics]="statisticForOutput"
				[sorting]="formData.sorting"
			></la-statistic-table>
		</div>
	</div>
</div>

<ng-template #statisticPageStub>
	<la-statistic-loading></la-statistic-loading>
</ng-template>
