<footer
	class="w-full relative"
	(click)="stopPropagination($event)"
>
	<button
		class="py-1 px-2 w-full rounded-md text-base hover:bg-slate-200 transition-colors duration-150 flex gap-x-1 justify-center items-center fill-slate-400 hover:fill-sky-500"
		type="button"
		(click)="toggleAddForm($event)"
		[class.bg-slate-200]="isAddFormOpened"
		[class.fill-sky-500]="isAddFormOpened"
	>
		<svg-icon
			class="inline-block w-6 h-6 fill-inherit"
			src="assets/icons/plus.svg"
		></svg-icon>
		Add new category
	</button>

	<la-categories-form
		*ngIf="isAddFormOpened"
		(formSubmit)="addNewCategory($event)"
	></la-categories-form>
</footer>
