<div class="flex flex-col gap-y-2">
	<div *ngFor="let group of categoryGroupsForOutput">
		<button
			type="button"
			class="w-full flex justify-start items-center gap-x-2"
			(click)="toggleGroupOpened(group)"
		>
			<svg-icon
				class="w-3 h-3"
				[class.rotate-90]="openedGroupIds.includes(group._id)"
				src="assets/icons/soft-arrow.svg"
			></svg-icon>

			<div
				class="my-1 px-2 py-1 rounded inline-block"
				[style]="{
					background: group.color + '4C',
					color: group.color
				}"
			>
				<div class="brightness-50">
					{{ group.name }}
				</div>
			</div>
		</button>

		<div
			class="ml-3 flex flex-col gap-y-[2px]"
			*ngIf="openedGroupIds.includes(group._id)"
		>
			<la-category-select-dropdown-category-item
				class="text-sm"
				*ngFor="let category of categoriesByGroupIdForOutput(group._id)"
				[category]="category"
				[multi]="isMulti"
				[choiced]="checkIsItemChoised(category._id)"
				[searchValue]="searchValue"
				(itemClick)="onItemClick($event)"
			></la-category-select-dropdown-category-item>
		</div>
	</div>

	<div class="flex flex-col gap-y-[2px]">
		<la-category-select-dropdown-category-item
			*ngFor="let category of categoriesList"
			[category]="category"
			[multi]="isMulti"
			[choiced]="checkIsItemChoised(category._id)"
			[searchValue]="searchValue"
			(itemClick)="onItemClick($event)"
		></la-category-select-dropdown-category-item>
	</div>
</div>
