<div class="max-w-[960px] w-full mx-auto h-full flex flex-col px-2">
	<div class="relative mt-10">
		<div class="flex flex-wrap gap-x-4 gap-y-2">
			<div
				laFormClose
				[formCloseActive]="isAddFormOpened"
				(formClose)="closeWithCheck()"
			>
				<button
					class="outline-button"
					(click)="toggleAddForm()"
				>
					Add new category
				</button>

				<la-categories-form
					*ngIf="isAddFormOpened"
					(formSubmit)="addNewCategory($event)"
				></la-categories-form>
			</div>

			<la-load-status-button type="categories"></la-load-status-button>

			<select
				class="px-4 py-2 border border-slate-400 rounded-lg text-slate-700 bg-white appearance-none"
				[(ngModel)]="categoryTableType"
			>
				<option value="normal">Normal</option>
				<option value="archive">Archive</option>
				<option value="all">All</option>
			</select>
		</div>
	</div>

	<la-categories-table
		class="w-full h-full"
		[type]="categoryTableType"
	></la-categories-table>
</div>
