<div class="relative">
	<button
		type="button"
		class="hover:fill-slate-500 transition-all duration-100 fill-slate-400/90 hover:bg-slate-100 py-2 px-1 rounded-md inline-block z-0"
		cdkDragRootElement="la-categories-table"
		(mouseenter)="showHint()"
		(mousedown)="hideHint()"
		(mouseleave)="hideHint()"
		(click)="onButtonClick()"
	>
		<svg-icon
			class="fill-inherit"
			src="assets/icons/move.svg"
		></svg-icon>
	</button>

	<div
		*ngIf="showHintStatus && allowShowHint"
		class="opacity-0 absolute max-[1110px]:left-0 left-1/2 max-[1110px]:translate-x-0 -translate-x-1/2 p-2 bg-slate-600 rounded-md text-xs text-slate-300 z-10 text-center transition-all delay-150 animate-fade"
		[class.opacity-100]="showHintStatus"
		data-testid="hint"
	>
		<div class="whitespace-nowrap">
			<span class="font-medium text-slate-100">Drag</span>
			to move
		</div>
		<div class="whitespace-nowrap">
			<span class="font-medium text-slate-100">Click</span>
			to open menu
		</div>
	</div>

	<ng-content></ng-content>
</div>
