<div class="my-10 max-w-[800px] mx-auto px-2">
	<div class="flex gap-x-2">
		<a
			routerLink="/seance/form"
			class="py-2 px-4 border border-slate-400 rounded-lg text-slate-700"
		>
			Add new seance
		</a>

		<la-load-status-button type="seance"></la-load-status-button>
	</div>

	<div
		class="mt-5 flex flex-col gap-y-2"
		cdkDropList
		(cdkDropListDropped)="drop($event)"
	>
		<div
			class="drop-item group flex max-[800px]:gap-x-1 gap-x-3 w-full items-start"
			*ngFor="let seanceItem of sortedByOrderSeances"
			cdkDrag
			[cdkDragData]="seanceItem"
		>
			<la-table-control-button
				class="pt-2 la-categories-table-control group-hover:opacity-100 opacity-0 transition-all duration-100 ease-out"
				cdkDragHandle
				laFormClose
				[formCloseActive]="showMenu === seanceItem._id"
				(buttonClick)="onControlButtonClick(seanceItem._id)"
				[class.opacity-100]="showMenu === seanceItem._id"
				(formClose)="onFormClickedOutside(seanceItem._id)"
			>
				<la-panel-form
					*ngIf="showMenu === seanceItem._id"
					additionalClasses="mt-2 max-[1110px]:left-0 left-1/2 max-[1110px]:translate-x-0 -translate-x-1/4 w-36"
					(mousedown)="stopPropagation($event)"
				>
					<la-panel-form-item
						type="edit"
						(itemClick)="editSeanceItem(seanceItem)"
					></la-panel-form-item>
					<la-panel-form-item
						type="delete"
						(itemClick)="deleteSeanceItem(seanceItem)"
					></la-panel-form-item>
				</la-panel-form>
			</la-table-control-button>

			<div
				class="w-full max-[800px]:px-2 max-[800px]:py-2 px-4 py-4 border border-slate-300 rounded-md flex flex-col items-center gap-y-3"
			>
				<div class="w-full flex justify-between items-start">
					<div
						class="flex flex-col gap-y-3 max-[800px]:max-w-[280px] max-w-[300px] w-full"
					>
						<div
							class="flex gap-x-2 items-center text-slate-900 text-lg word-break"
						>
							<la-cicle [color]="seanceItem.color"></la-cicle>
							{{ seanceItem.name }}
						</div>

						<div class="word-break w-full">
							{{ seanceItem.comment }}
						</div>
					</div>

					<div
						class="max-[750px]:hidden max-w-[300px] w-full flex flex-col gap-y-1 items-start"
					>
						<ng-container
							*ngIf="seanceItem.records.length > 0; else seanceItemStub"
						>
							<div
								class="pl-2 w-full flex gap-x-3 justify-between rounded-lg"
								[ngClass]="
									record.count <= 0 || record.category.trash
										? 'bg-slate-200'
										: 'bg-slate-50'
								"
								*ngFor="let record of seanceItem.records; let i = index"
							>
								<div
									class="py-3"
									[ngClass]="
										record.count <= 0 || record.category.trash
											? 'text-slate-600'
											: 'text-slate-400'
									"
								>
									{{ i + 1 }}
								</div>
								<div class="w-full flex justify-between gap-x-2">
									<div
										class="word-break py-3 text-slate-700 flex gap-x-2 items-start"
										[style]="{ color: record.category.color }"
									>
										<la-cicle
											class="mt-[4px]"
											[color]="record.category.color"
										></la-cicle>
										{{ record.category.name }}
									</div>

									<div
										class="min-w-[48px] pl-2 py-3 pr-2 rounded-r-lg text-slate-800"
										[ngClass]="
											record.count <= 0 || record.category.trash
												? 'bg-slate-300'
												: 'bg-slate-200'
										"
									>
										{{ record.count }}
									</div>
								</div>
							</div>
						</ng-container>
					</div>

					<button
						class="group p-[0.5rem_0.4rem_0.5rem_0.6rem] border border-slate-300 rounded-full enabled:hover:border-pink-500 enabled:hover:rounded-2xl transition-all duration-100 disabled:cursor-default disabled:bg-slate-200 disabled:border-slate-400"
						(click)="startSeance(seanceItem)"
						[disabled]="!checkSeanceIsCanStart(seanceItem)"
					>
						<svg-icon
							[applyClass]="true"
							class="w-6 h-6 group-enabled:group-hover:stroke-pink-700 duration-75 transition-all"
							src="assets/icons/play.svg"
						></svg-icon>
					</button>
				</div>

				<div
					class="max-[750px]:flex max-w-[300px] w-full hidden flex-col gap-y-1 items-start justify-center"
				>
					<ng-container
						*ngIf="seanceItem.records.length > 0; else seanceItemStub"
					>
						<div
							class="pl-2 w-full flex gap-x-3 justify-between rounded-lg"
							[ngClass]="
								record.count <= 0 || record.category.trash
									? 'bg-slate-200'
									: 'bg-slate-50'
							"
							*ngFor="let record of seanceItem.records; let i = index"
						>
							<div
								class="max-[750px]:py-1 py-3"
								[ngClass]="
									record.count <= 0 || record.category.trash
										? 'text-slate-600'
										: 'text-slate-400'
								"
							>
								{{ i + 1 }}
							</div>

							<div class="w-full flex justify-between">
								<div
									class="word-break max-[750px]:py-1 py-3 text-slate-700 flex gap-x-2 items-center justify-start"
									[style]="{ color: record.category.color }"
								>
									<la-cicle [color]="record.category.color"></la-cicle>
									{{ record.category.name }}
								</div>

								<div
									class="w-12 pl-2 max-[750px]:py-1 py-3 pr-2 rounded-r-lg text-slate-800"
									[ngClass]="
										record.count <= 0 || record.category.trash
											? 'bg-slate-300'
											: 'bg-slate-200'
									"
								>
									{{ record.count }}
								</div>
							</div>
						</div>
					</ng-container>
				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #seanceItemStub>
	<div class="pl-2 w-full flex gap-x-3 justify-between bg-slate-200 rounded-lg">
		<div class="max-[750px]:py-1 py-3 text-slate-600">0</div>
		<div class="w-full flex justify-between">
			<div
				class="max-[750px]:py-1 py-3 text-slate-700 flex gap-x-2 items-center justify-start"
				[style]="{ color: 'rgb(74, 74, 74)' }"
			>
				<la-cicle color="rgb(74, 74, 74)"></la-cicle>
				Empty
			</div>

			<div
				class="w-12 pl-2 max-[750px]:py-1 py-3 pr-2 bg-slate-300 rounded-r-lg text-slate-800"
			>
				0
			</div>
		</div>
	</div>
</ng-template>
