<div class="max-w-[700px] mt-5 px-2 flex flex-col max-[500px]:gap-y-2">
	<div
		class="flex gap-4 items-center py-1 opacity-100 transition-opacity"
		*ngFor="let item of stasticItems"
		[class.hide]="item.isSuccessStatus === 'deleting'"
	>
		<div
			class="capitalize rounded-md px-2 py-1 text-slate-600"
			[style]="{
				background: statusColors[item.isSuccess ? 'success' : item.status]
			}"
		>
			<div class="max-[750px]:hidden">
				{{ item.isSuccess ? 'success' : item.status }}
			</div>
			<div class="max-[750px]:inline-block hidden">S</div>
		</div>

		<div class="flex gap-1 flex-wrap">
			<div
				class="flex items-center gap-2 text-slate-600 font-medium word-break"
			>
				<la-cicle [color]="item.category.color"></la-cicle>
				{{ item.category.name }}

				<span
					*ngIf="item.category.dimension"
					class="text-slate-500 font-normal max-[425px]:hidden"
				>
					({{ item.category.dimension }})
				</span>
			</div>

			<div class="flex gap-x-1">
				<div class="text-slate-400">
					{{ item.category.mode === 'number' ? 'count' : 'time' }}
				</div>

				<div class="text-slate-600 font-medium">
					{{
						item.category.mode === 'number'
							? item.count
							: getTimeForOutput(item.count)
					}}
				</div>
			</div>

			<div
				class="flex gap-x-1"
				*ngIf="item.comment"
			>
				<div class="text-slate-400">comment</div>

				<div class="text-slate-600 font-medium word-break">
					{{ item.comment }}
				</div>
			</div>

			<div class="flex gap-x-1">
				<div class="text-slate-400">date</div>

				<div class="text-slate-600 font-medium">
					{{ item.date | date: 'dd.MM.yy hh:mm:ss' }}
				</div>
			</div>
		</div>
	</div>
</div>
