<div class="mt-10 flex flex-col items-center justify-start">
	<div class="max-w-[600px]">
		<div
			class="px-2 flex flex-col gap-y-2 mb-2"
			*ngIf="seanceActive.currentSeance"
		>
			<div class="flex max-[600px]:flex-col gap-x-10 gap-y-4 justify-between">
				<div class="flex gap-x-6 items-center">
					<div class="flex gap-x-2 items-center font-medium word-break">
						<la-cicle [color]="seanceActive.currentSeance.color"></la-cicle>
						{{ seanceActive.currentSeance.name }}
					</div>

					<div
						class="max-[600px]:hidden px-2 py-1 rounded-lg bg-purple-100 text-purple-700 whitespace-nowrap"
					>
						{{ seanceActive.currentRecord + 1 }}
						<span class="text-slate-500">/</span>
						{{ seanceActive.currentSeance.records.length }}
					</div>

					<div
						class="max-[600px]:hidden px-2 py-1 rounded-lg bg-lime-100 text-lime-700 whitespace-nowrap"
					>
						{{ seanceActive.currentApproach + 1 }}
						<span class="text-slate-500">/</span>
						{{
							seanceActive.currentSeance.records[seanceActive.currentRecord]
								.count
						}}
					</div>
				</div>

				<div class="max-[600px]:hidden flex gap-x-6 items-center">
					<button
						class="px-2 py-1 rounded-lg bg-lime-50 hover:bg-lime-200 text-lime-700"
						(click)="nextSeanceApproach()"
					>
						>
					</button>
					<button
						class="px-2 py-1 rounded-lg bg-purple-50 hover:bg-purple-200 text-purple-700"
						(click)="nextSeanceRecord()"
					>
						>>
					</button>
					<button
						class="px-2 py-1 rounded-lg bg-red-50 hover:bg-red-200 text-red-700"
						(click)="endCurrentSeance()"
					>
						End
					</button>
				</div>
			</div>

			<div
				*ngIf="seanceActive.currentSeance.comment.length > 0"
				class="word-break text-slate-800"
			>
				{{ seanceActive.currentSeance.comment }}
			</div>

			<div class="max-[600px]:flex hidden mt-3 justify-center gap-x-6">
				<div class="px-2 py-1 rounded-lg bg-purple-100 text-purple-700">
					{{ seanceActive.currentRecord + 1 }}
					<span class="text-slate-500">/</span>
					{{ seanceActive.currentSeance.records.length }}
				</div>

				<div class="px-2 py-1 rounded-lg bg-lime-100 text-lime-700">
					{{ seanceActive.currentApproach + 1 }}
					<span class="text-slate-500">/</span>
					{{
						seanceActive.currentSeance.records[seanceActive.currentRecord].count
					}}
				</div>
				<button
					class="px-2 py-1 rounded-lg bg-lime-50 hover:bg-lime-200 text-lime-700"
					(click)="nextSeanceApproach()"
				>
					>
				</button>
				<button
					class="px-2 py-1 rounded-lg bg-purple-50 hover:bg-purple-200 text-purple-700"
					(click)="nextSeanceRecord()"
				>
					>>
				</button>
				<button
					class="px-2 py-1 rounded-lg bg-red-50 hover:bg-red-200 text-red-700"
					(click)="endCurrentSeance()"
				>
					End
				</button>
			</div>
		</div>

		<form
			class="max-w-[600px] w-full py-3 px-2 flex flex-col gap-y-2"
			[formGroup]="addForm"
			(ngSubmit)="onSubmit()"
		>
			<div
				class="max-[500px]:hidden grid grid-rows-[auto_0.75fr_0.75fr_1fr_auto] grid-cols-[1fr_1fr_1.5fr]"
			>
				<label
					for="add-form-count"
					class="ml-2 col-start-1 col-end-1 row-start-1 row-end-1 text-slate-400"
				>
					Count
				</label>

				<div class="col-start-3 col-end-3 row-start-1 row-end-1 text-slate-400">
					Category
				</div>

				<la-time-number-picker
					class="la-time-number-picker rounded-tl-md border border-slate-400 col-start-1 col-end-3 row-start-2 row-end-4 row-span-2 h-full w-full text-xl bg-white outline-black"
					[inputClass]="
						'outline-inherit bg-transparent text-slate-600 h-full w-full px-5 text-lg'
					"
					[inputId]="'add-form-count'"
					[inputNumberShow]="
						this.choicedCategory === null ||
						this.choicedCategory.mode === 'number'
					"
					[inputTimeShow]="
						this.choicedCategory !== null &&
						this.choicedCategory.mode === 'time'
					"
					formControlName="count"
					[value]="addForm.value.count"
				></la-time-number-picker>

				<la-category-select
					class="-ml-[1px] rounded-r-md col-start-3 col-end-3 row-start-2 row-end-4 order-2 border row-span-2 border-slate-400"
					[categories]="categories"
					[categoryGroups]="categoryGroups"
					formControlName="category"
					buttonClass="p-4"
					[value]="addForm.value.category"
				></la-category-select>

				<input
					id="add-form-comment"
					class="px-4 py-2 text-slate-600 rounded-b-md col-start-1 col-end-3 row-start-4 row-end-4 -mt-[1px] w-full border border-slate-400"
					type="text"
					placeholder="Comment"
					formControlName="comment"
					[value]="addForm.value.comment"
				/>

				<input
					*ngIf="additinalOptions.showDatetimePicker"
					id="add-form-count"
					class="mt-2 p-2 rounded-md col-start-1 col-end-3 max-[500px]:col-end-4 row-start-5 row-end-5 border border-slate-400 text-slate-600 row-span-2 h-full w-full px-5"
					formControlName="date"
					type="datetime-local"
				/>
			</div>

			<div class="max-[500px]:flex hidden flex-col gap-y-2 px-2">
				<div class="flex flex-col gap-y-1">
					<label
						for="add-form-count"
						class="text-slate-400"
					>
						Count
					</label>

					<la-time-number-picker
						class="h-full w-full text-xl"
						[inputClass]="
							'rounded-md border border-slate-400 text-slate-600 h-full w-full px-5 py-2 text-lg'
						"
						[inputId]="'add-form-count'"
						[inputNumberShow]="
							this.choicedCategory === null ||
							this.choicedCategory.mode === 'number'
						"
						[inputTimeShow]="
							this.choicedCategory !== null &&
							this.choicedCategory.mode === 'time'
						"
						formControlName="count"
						[value]="addForm.value.count"
					></la-time-number-picker>
				</div>

				<div class="flex flex-col gap-y-1">
					<div class="text-slate-400">Category</div>

					<la-category-select
						class="-ml-[1px] rounded-md order-2 border border-slate-400"
						[categories]="categories"
						[categoryGroups]="categoryGroups"
						formControlName="category"
						buttonClass="px-4 py-2"
						[value]="addForm.value.category"
					></la-category-select>
				</div>

				<div class="flex flex-col gap-y-1">
					<label
						for="add-form-comment"
						class="ml-2 text-slate-400"
					>
						Comment
					</label>

					<input
						id="add-form-comment"
						class="px-4 py-2 text-slate-600 rounded-md -mt-[1px] w-full border border-slate-400"
						type="text"
						placeholder="Comment"
						formControlName="comment"
						[value]="addForm.value.comment"
					/>
				</div>

				<input
					*ngIf="additinalOptions.showDatetimePicker"
					id="add-form-count"
					class="mt-2 p-2 rounded-md col-start-1 col-end-3 max-[500px]:col-end-4 row-start-5 row-end-5 border border-slate-400 text-slate-600 row-span-2 h-full w-full px-5"
					formControlName="date"
					type="datetime-local"
				/>
			</div>

			<div class="ml-1">
				<button
					type="button"
					(click)="toggleAdditionalOptionsShow()"
					class="text-slate-500 text-sm flex gap-x-1 items-center px-2 py-1"
					[class.!text-slate-700]="additionalSettingsShow"
				>
					<svg-icon
						class="w-4 h-4 -z-10"
						[class.rotate-90]="additionalSettingsShow"
						src="assets/icons/soft-arrow.svg"
					></svg-icon>
					Additional
				</button>

				<div
					*ngIf="additionalSettingsShow"
					class="ml-2 mb-2"
				>
					<div class="ml-1 rounded">
						<label class="flex items-center gap-x-1 text-sm text-slate-500">
							<input
								type="checkbox"
								class="w-3 h-3 text-blue-600 bg-slate-100 border-slate-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-slate-800 focus:ring-2 dark:bg-slate-700 dark:border-slate-600"
								[(ngModel)]="additinalOptions.doNotClearComment"
								[ngModelOptions]="{ standalone: true }"
							/>
							Do not clear comment
						</label>
					</div>

					<div class="ml-1 rounded">
						<label class="flex items-center gap-x-1 text-sm text-slate-500">
							<input
								type="checkbox"
								class="w-3 h-3 text-blue-600 bg-slate-100 border-slate-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-slate-800 focus:ring-2 dark:bg-slate-700 dark:border-slate-600"
								[(ngModel)]="additinalOptions.doNotClearCount"
								[ngModelOptions]="{ standalone: true }"
							/>
							Do not clear count
						</label>
					</div>

					<div class="ml-1 rounded">
						<label class="flex items-center gap-x-1 text-sm text-slate-500">
							<input
								type="checkbox"
								class="w-3 h-3 text-blue-600 bg-slate-100 border-slate-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-slate-800 focus:ring-2 dark:bg-slate-700 dark:border-slate-600"
								[(ngModel)]="additinalOptions.showDatetimePicker"
								[ngModelOptions]="{ standalone: true }"
							/>
							Show datetime picker
						</label>

						<div
							class="ml-5 rounded"
							*ngIf="additinalOptions.showDatetimePicker"
						>
							<label class="flex items-center gap-x-1 text-sm text-slate-500">
								<input
									type="checkbox"
									class="w-3 h-3 text-blue-600 bg-slate-100 border-slate-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-slate-800 focus:ring-2 dark:bg-slate-700 dark:border-slate-600"
									[(ngModel)]="additinalOptions.doNotUpdateDateAfterSubmit"
									[ngModelOptions]="{ standalone: true }"
								/>
								Do not update date after submit
							</label>
						</div>
					</div>
				</div>
			</div>

			<span
				*ngIf="errorMessage"
				class="text-red-400 text-center text-sm"
			>
				{{ errorMessage }}
			</span>

			<button
				type="submit"
				class="transition-all duration-200 rounded-md px-4 py-2 bg-green-500 text-white disabled:cursor-default disabled:bg-slate-300 disabled:text-slate-600 active:bg-green-400 shadow"
			>
				Add
			</button>
		</form>
	</div>
	<la-statistic-log></la-statistic-log>
</div>
