<nav class="h-full">
	<ul
		class="h-full flex"
		[ngClass]="{
			'flex-col': mini
		}"
	>
		<li *ngFor="let item of menuItems">
			<a
				(mouseenter)="mouseLinkEnter(item.id)"
				(mouseleave)="mouseLinkLeave(item.id)"
				[attr.disabled]="
					activeMenuItemsForce ? false : !userInfo || !userInfo.authorized
				"
				(click)="onRouteClickInner()"
				class="flex items-center gap-x-2 px-2 h-full text-slate-800 hover:text-sky-600 transition-colors"
				[ngClass]="{
					'px-6 py-3 text-lg': mini,
					'!text-slate-400 cursor-default': activeMenuItemsForce
						? false
						: !userInfo || !userInfo.authorized
				}"
				[routerLink]="
					(userInfo && userInfo.authorized) || activeMenuItemsForce
						? item.path
						: null
				"
				[routerLinkActiveOptions]="{ exact: true }"
				routerLinkActive="font-medium text-transparent bg-clip-text bg-gradient-to-r from-sky-600 to-indigo-500"
				[attr.data-testid]="'menu-link-' + item.id"
			>
				<div
					class="lottie-animation w-8"
					[ngClass]="{
						'max-[900px]:w-7': mini === false
					}"
				>
					<ng-lottie
						[options]="getAnimateOptions(item.id)"
						(animationCreated)="onAnimate($event)"
					></ng-lottie>
				</div>
				{{ item.name }}
			</a>
		</li>
	</ul>
</nav>
