<button
	*ngIf="type === 'button'"
	class="group/form-item flex gap-x-2 items-center w-full py-1 px-4 text-left disabled:text-slate-400 enabled:hover:bg-slate-100 enabled:hover:text-sky-600 bg-white duration-300"
	[disabled]="disabled"
	(click)="onButtonClick()"
>
	<ng-container *ngTemplateOutlet="content"></ng-container>
</button>

<a
	*ngIf="type === 'link'"
	[routerLink]="linkHref"
	class="group/form-item flex gap-x-2 items-center w-full py-1 px-4 text-left bg-white duration-300"
	[ngClass]="{
		'text-slate-400': disabled,
		'hover:bg-slate-100 hover:text-sky-600': !disabled
	}"
	(click)="onButtonClick()"
>
	<ng-container *ngTemplateOutlet="content"></ng-container>
</a>

<ng-template #content>
	<svg-icon
		class="w-6 group-disabled/form-item:opacity-50"
		[src]="imageSrc"
	></svg-icon>

	{{ text }}
</ng-template>
