<div
	class="mt-3 mx-1"
	*ngIf="
		statistics && statistics.length > 0 && statisticForOutput;
		else statisticPageStub
	"
>
	<la-report-chart [summData]="summStatistic"></la-report-chart>

	<la-statistic-controls
		[(formData)]="formData"
		[showChartStatisticControls]="false"
		(formDataChange)="formDataChange($event)"
	></la-statistic-controls>

	<div class="mt-6 w-full flex max-[1440px]:flex-wrap justify-center gap-6">
		<la-report-summ-table
			class="mt-14 relative max-[1440px]:before:!content-none before:absolute before:top-0 before:-right-[0.75rem] before:border-slate-300 before:h-full before:border-l-[1px] before:border-dashed report-summ-table h-full"
			[statistic]="summStatistic"
		></la-report-summ-table>

		<la-statistic-table
			class="max-w-[960px] w-full"
			[statistics]="statisticForOutput"
			[sorting]="formData.sorting"
			[showControl]="false"
		></la-statistic-table>
	</div>
</div>

<ng-template #statisticPageStub>
	<la-statistic-loading></la-statistic-loading>
</ng-template>
