<div
	*ngIf="categories"
	class="w-full h-full inline-block text-slate-600 z-10"
	laFormClose
	[formCloseActive]="isDropDownOpened"
	(formClose)="closeDropDown()"
>
	<button
		type="button"
		class="text-left text-slate-600"
		[ngClass]="[buttonClass, getButtonClasses()]"
		(click)="toggleDropDown()"
	>
		Categories

		<span
			*ngIf="currentId.length > 0"
			class="text-purple-500"
		>
			{{ currentId.length }}
		</span>
	</button>

	<la-category-select-dropdown
		*ngIf="isDropDownOpened"
		[categories]="categories"
		[categoryGroups]="categoryGroups"
		[currentCategory]="currentId"
		(itemClick)="onItemClick($event)"
	></la-category-select-dropdown>
</div>
