<footer class="w-full px-6 py-4 flex justify-between items-center">
	<la-version
		[version]="version"
		[type]="type"
		[attr.test-version]="version"
		[attr.test-type]="type"
	></la-version>

	<div
		class="text-slate-400 font-light max-[425px]:text-sm"
		data-testid="created-by"
	>
		Created by
		<a
			class="text-slate-400 hover:text-fuchsia-400 font-medium"
			[href]="config.creatorLink"
			target="_blank"
		>
			{{ config.creatorName }}
		</a>
	</div>

	<div class="flex items-center gap-x-1">
		<la-used-source-link
			*ngFor="let item of config.sourceLinks"
			[link]="item.link"
			[icon]="item.icon"
			[attr.test-link]="item.link"
			[attr.test-icon]="item.icon"
		></la-used-source-link>
	</div>
</footer>
