<div
	class="flex flex-col gap-y-[2px]"
	*ngIf="categoriesList && categoriesList.length > 0; else notFound"
>
	<la-category-select-dropdown-category-item
		*ngFor="let category of categoriesList"
		[category]="category"
		[multi]="isMulti"
		[choiced]="checkIsItemChoised(category._id)"
		[searchValue]="searchValue"
		(itemClick)="onItemClick($event)"
	></la-category-select-dropdown-category-item>
</div>

<ng-template #notFound>Not found</ng-template>
