<button
	*ngIf="category"
	type="button"
	class="flex gap-x-2 justify-start items-center py-1 px-2 text-base font-medium hover:bg-orange-100 rounded-md w-full transition-colors duration-150"
	(click)="onItemClick(category._id)"
	[style]="{
		color: category.color
	}"
	[ngClass]="{
		'bg-slate-200': choiced,
		'cursor-default hover:!bg-slate-200': !multi && choiced
	}"
>
	<la-cicle
		[color]="category.color"
		type="mini"
	></la-cicle>
	<div
		class="text-left text-ellipsis overflow-hidden word-break"
		[innerHTML]="category.name | highlight: searchValue"
	></div>
	<span
		class="text-left text-slate-400 font-normal text-sm max-w-[7rem] text-ellipsis overflow-hidden word-break"
	>
		{{ category.dimension }}
	</span>
</button>
