<div class="text-slate-400 flex gap-x-2 max-[425px]:text-sm">
	<span data-testid="version">v{{ version }}</span>

	<div
		class="px-2 rounded-xl text-white"
		*ngIf="showType && type !== 'production'"
		[ngClass]="{
			'bg-blue-400': type === 'dev'
		}"
		data-testid="type"
	>
		{{ type }}
	</div>
</div>
