<div class="max-w-[1440px] m-auto h-screen flex flex-col">
	<la-header [userInfo]="userData"></la-header>

	<main class="flex-grow">
		<router-outlet></router-outlet>
	</main>

	<la-footer
		[version]="environment.version"
		[type]="environment.type"
	></la-footer>
</div>
