<div
	*ngIf="categories"
	class="w-full h-full relative text-slate-600"
	laFormClose
	[formCloseActive]="isDropDownOpened && !disabled"
	(formClose)="closeDropDown()"
>
	<div class="w-full h-full -z-10">
		<button
			type="button"
			*ngIf="currentCategory !== null"
			class="w-full h-full flex gap-x-2 items-center max-w-[250px] max-[500px]:max-w-none disabled:bg-slate-200"
			(click)="toggleDropDown()"
			[ngClass]="buttonClass"
			[disabled]="disabled"
		>
			<la-cicle [color]="currentCategory.color"></la-cicle>
			<div class="text-left overflow-hidden word-break">
				{{ currentCategory.name }}
			</div>
		</button>

		<button
			type="button"
			*ngIf="currentCategory === null"
			class="text-left w-full h-full text-slate-600 disabled:bg-slate-200"
			(click)="toggleDropDown()"
			[ngClass]="buttonClass"
			[disabled]="disabled"
		>
			Choice category
		</button>
	</div>

	<la-category-select-dropdown
		*ngIf="isDropDownOpened && !disabled"
		[categories]="categories"
		[categoryGroups]="categoryGroups"
		[currentCategory]="currentId"
		(itemClick)="onItemClick($event)"
	></la-category-select-dropdown>
</div>
