<table
	class="max-w-[500px] max-[1440px]:max-w-[700px] w-full table table-auto h-full border-white border-2"
>
	<tr class="text-slate-700">
		<th class="table-head-item">Category</th>
		<th class="table-head-item">Count</th>
	</tr>

	<tr
		class="text-slate-600"
		*ngFor="let record of statistic"
	>
		<td class="px-3 py-2 max-[960px]:py-1 border border-slate-300">
			<div class="flex gap-2 items-center">
				<la-cicle
					[color]="record.category.color"
					[attr.color]="record.category.color"
				></la-cicle>
				<div class="word-break">
					{{ record.category.name }}
					<span
						*ngIf="record.category.dimension"
						class="text-slate-400"
					>
						({{ record.category.dimension }})
					</span>
				</div>
			</div>
		</td>

		<td class="px-3 py-2 max-[960px]:py-1 border border-slate-300">
			<span [ngSwitch]="record.category.mode">
				<span *ngSwitchCase="'number'">
					{{ record.count }}
				</span>
				<span *ngSwitchCase="'time'">
					{{ record.count * 1000 | date: 'H:mm:ss':'UTC' }}
				</span>
			</span>
		</td>
	</tr>
</table>
