<div class="flex max-[900px]:flex-wrap justify-center gap-x-4">
	<div
		class="w-96 h-96 max-[900px]:w-72 max-[900px]:h-72 max-[640px]:w-60 max-[640px]:h-60"
	>
		<canvas id="chart-of-number"></canvas>
	</div>

	<div
		class="w-96 h-96 max-[900px]:w-72 max-[900px]:h-72 max-[640px]:w-60 max-[640px]:h-60"
	>
		<canvas id="chart-of-time"></canvas>
	</div>
</div>
