<div
	class="absolute -left-5 mt-2 px-2 py-1 flex flex-col bg-white border border-slate-400 rounded w-[440px] max-[500px]:w-[106%] max-[500px]:-left-[3%] max-h-[400px] z-10"
	*ngIf="categories"
	(click)="stopPropagination($event)"
>
	<header class="px-2 pt-2 pb-1">
		<input
			(keydown.enter)="$event.preventDefault()"
			class="w-full py-2 px-4 rounded-md bg-slate-100 placeholder:text-slate-500"
			type="text"
			placeholder="Search"
			[(ngModel)]="searchValue"
		/>
	</header>

	<la-category-select-dropdown-divider></la-category-select-dropdown-divider>

	<div class="flex gap-x-2">
		<la-category-select-dropdown-tab
			*ngFor="let tab of tabs"
			[tab]="tab"
			[active]="activeTab === tab"
			(buttonClick)="setActiveTab($event)"
		></la-category-select-dropdown-tab>
	</div>

	<div
		class="py-2 overflow-y-auto flex flex-col gap-y-[2px]"
		*ngIf="categories && categories.length > 0 && categoryGroups; else notFound"
		[ngSwitch]="activeTab"
	>
		<la-category-select-dropdown-group-tab
			*ngSwitchCase="'group'"
			[categories]="categories"
			[categoryGroups]="categoryGroups"
			[currentCategory]="currentCategory"
			[searchValue]="searchValue"
			(selectSubmit)="onItemClick($event)"
		></la-category-select-dropdown-group-tab>

		<la-category-select-dropdown-category-tab
			*ngSwitchCase="'category'"
			[categories]="categories"
			[currentCategory]="currentCategory"
			[searchValue]="searchValue"
			(selectSubmit)="onItemClick($event)"
		></la-category-select-dropdown-category-tab>
	</div>

	<la-category-select-dropdown-divider></la-category-select-dropdown-divider>
	<la-category-select-dropdown-footer
		[(isAddFormOpened)]="isAddFormOpened"
	></la-category-select-dropdown-footer>
</div>

<ng-template #notFound>
	<div class="p-2">Not found</div>
</ng-template>
