<la-panel-form additionalClasses="w-full mt-4">
	<la-panel-form-item
		itemType="link"
		[linkHref]="'profile/' + userInfo?.nickname || ''"
		type="profile"
		[disabled]="userInfo === null"
		(itemClick)="onClickOutput()"
	></la-panel-form-item>

	<la-panel-form-item
		itemType="link"
		linkHref="trash"
		type="trash"
		(itemClick)="onClickOutput()"
	></la-panel-form-item>

	<la-panel-form-item
		itemType="link"
		linkHref="sessions"
		type="sessions"
		(itemClick)="onClickOutput()"
	></la-panel-form-item>

	<la-panel-form-item
		itemType="link"
		linkHref="settings"
		type="settings"
		(itemClick)="onClickOutput()"
	></la-panel-form-item>

	<la-panel-form-divider></la-panel-form-divider>

	<la-panel-form-item
		type="exit"
		(itemClick)="onClickOutput('exit')"
	></la-panel-form-item>
</la-panel-form>
