.cdk-drag-preview {
	opacity: 0;
}

.cdk-drag-animating {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drop-item:last-child {
	border: none;
}

.cdk-drop-list-dragging .drop-item:not(.cdk-drag-placeholder) {
	transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

	.la-categories-table-control {
		opacity: 0 !important;
	}
}

.cdk-drop-list-dragging {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
	@apply bg-slate-100;

	.la-categories-table-control {
		@apply opacity-100;
	}
}

.la-categories-table-control:focus-within {
	opacity: 100% !important;
}

.ng-invalid:not(form):not(.not-show-error).ng-dirty {
	@apply border-red-500 outline-red-500;

	&.custom-error-border {
		@apply px-1 border  rounded-md;
	}
}
