<div class="mt-10 max-w-[600px] mx-auto px-2">
	<form
		class="w-full flex flex-col gap-y-2 justify-center rounded-md py-2"
		[formGroup]="formData"
		(ngSubmit)="onSubmitForm()"
	>
		<div class="max-[600px]:ml-0 ml-12 pl-2 flex gap-x-2 items-center">
			<div
				class="relative"
				laFormClose
				[formCloseActive]="pickColorMenuOpened"
				(formClose)="closePickColorMenu()"
			>
				<div
					class="absolute top-2 left-2 bg-white border border-slate-500 p-2 rounded"
					[ngClass]="{
						hidden: !pickColorMenuOpened
					}"
				>
					<la-color-select
						required
						formControlName="color"
					></la-color-select>
				</div>

				<div>
					<button
						type="button"
						(click)="openPickColorMenu()"
					>
						<la-cicle
							applyClass="border"
							[color]="formData.value.color || ''"
							type="big"
						></la-cicle>
					</button>
				</div>
			</div>

			<input
				class="w-full px-2 py-1 text-slate-800 appearance-none border rounded-md bg-white border-slate-200"
				type="text"
				placeholder="Name"
				formControlName="name"
			/>
		</div>

		<textarea
			class="h-[85px] max-[600px]:ml-0 ml-12 resize-none overflow-hidden px-2 py-1 text-slate-800 appearance-none border rounded-md bg-white border-slate-200"
			type="text"
			placeholder="Comment"
			formControlName="comment"
		></textarea>

		<div>
			<button
				class="max-[600px]:ml-0 ml-12 px-4 py-2 rounded border border-slate-400 hover:bg-slate-200"
				(click)="addNewRecord()"
				type="button"
			>
				Add new record
			</button>

			<div
				class="not-show-error mt-3 w-full flex flex-col gap-y-2"
				formArrayName="records"
				cdkDropList
				(cdkDropListDropped)="drop($event)"
			>
				<div
					class="drop-item group flex max-[500px]:gap-x-1 gap-x-2 items-center"
					cdkDrag
					*ngFor="let record of records.controls; let i = index"
					[formGroupName]="i"
				>
					<!-- *ngIf="category" -->
					<la-table-control-button
						class="la-categories-table-control group-hover:opacity-100 opacity-0 transition-all duration-100 ease-out"
						(buttonClick)="onControlButtonClick(i)"
						cdkDragHandle
						[class.opacity-100]="showMenu"
						laFormClose
						[formCloseActive]="showMenu === i"
						(formClose)="onFormClickedOutside(i)"
					>
						<!-- [allowShowHint]="showMenu !== category._id" -->
						<la-panel-form
							*ngIf="showMenu === i"
							additionalClasses="mt-2 max-[1110px]:left-0 left-1/2 max-[1110px]:translate-x-0 -translate-x-1/4 w-36"
							(mousedown)="stopPropagation($event)"
						>
							<la-panel-form-item
								type="delete"
								(itemClick)="deleteRecord(i)"
							></la-panel-form-item>
						</la-panel-form>
					</la-table-control-button>

					<div
						class="w-full rounded border border-slate-400 px-4 py-2 flex max-[500px]:flex-col flex-wrap gap-x-4 gap-y-2 justify-between"
					>
						<label class="flex gap-x-2 text-slate-600">
							<span class="max-[500px]:hidden">Category:</span>
							<la-category-select
								class="custom-error-border w-full"
								[categories]="categories"
								[categoryGroups]="categoryGroups"
								formControlName="category"
							></la-category-select>
						</label>

						<label class="flex gap-x-2 text-slate-600">
							Count:
							<input
								class="custom-error-border max-w-[5em]"
								min="0"
								max="999"
								type="number"
								formControlName="count"
							/>
						</label>
					</div>
				</div>
			</div>
		</div>

		<span
			*ngIf="errorMessage"
			class="text-red-400 text-center text-sm"
		>
			{{ errorMessage }}
		</span>

		<div class="flex gap-x-2 justify-end">
			<a
				class="px-4 py-2 text-slate-700 rounded border border-slate-400 hover:bg-slate-200"
				routerLink="/seance"
			>
				Exit
			</a>
			<button
				class="px-4 py-2 text-slate-700 rounded border border-slate-400 hover:bg-slate-200 cursor-pointer"
				type="submit"
			>
				{{ type === 'add' ? 'Add' : 'Update' }}
			</button>
		</div>
	</form>
</div>
