<div
	class=""
	*ngIf="error === false && loading === false; else profileNotFound"
>
	<div
		class="ml-16 mt-10 mb-5"
		*ngIf="user !== null"
	>
		<div class="flex items-center gap-x-3">
			<img
				class="w-24 h-24 rounded-full"
				[src]="user.picture"
				alt="user picture"
			/>
			<div class="">
				<div class="">
					<span class="text-slate-500">Name:</span>
					{{ user.name }}
				</div>

				<div class="">
					<span class="text-slate-500">Nickname:</span>
					{{ user.nickname }}
				</div>
				<div class="">
					<span class="text-slate-500">
						In
						<span class="text-orange-400">lapricot</span>
						since:
					</span>
					{{ user.createdAt | date: 'dd/MM/yyyy' }}
				</div>
			</div>
		</div>
	</div>

	<div
		*ngIf="
			statistics && statistics.length > 0 && statisticForOutput;
			else statisticPageStub
		"
	>
		<la-statistic-chart
			[interval]="formData['chart-interval']"
			[by]="formData['chart-by']"
			[mode]="formData.mode"
			[formData]="formData"
			*ngIf="statisticForOutput"
			[statistics]="statisticForOutput"
		></la-statistic-chart>

		<la-statistic-controls
			[(formData)]="formData"
			(formDataChange)="formDataChange($event)"
		></la-statistic-controls>

		<div class="mt-6 flex justify-center">
			<div class="max-w-[960px] w-full">
				<la-statistic-table
					[statistics]="statisticForOutput"
					[sorting]="formData.sorting"
					[showControl]="false"
				></la-statistic-table>
			</div>
		</div>
	</div>

	<ng-template #statisticPageStub>
		<div class="h-full w-full pb-20 flex items-center justify-center">
			<div class="flex flex-col items-center gap-y-2 justify-center">
				<div
					class="text-xl flex gap-x-1 text-slate-800"
					data-testid="first"
				>
					<span class="text-pink-500">Statistic</span>
					not found
				</div>
			</div>
		</div>
	</ng-template>
</div>

<ng-template #profileNotFound>
	<div class="h-full w-full pb-20 flex items-center justify-center">
		<div
			class="text-xl text-transparent bg-clip-text bg-gradient-to-r from-purple-500 to-pink-600"
			*ngIf="loading"
		>
			Loading...
		</div>

		<div
			class="flex flex-col items-center gap-y-2 justify-center"
			*ngIf="!loading"
		>
			<div
				class="text-xl flex gap-x-1 text-slate-800"
				data-testid="first"
			>
				<span class="text-pink-500">Profile</span>
				not found
			</div>
		</div>
	</div>
</ng-template>
