<form
	[formGroup]="formData"
	(ngSubmit)="onSubmitAddForm()"
	class="p-4 absolute mt-3 border border-slate-400 rounded-lg flex flex-col gap-y-5 shadow bg-white"
>
	<label class="flex gap-x-5 justify-between items-center">
		Count

		<la-time-number-picker
			class="la-time-number-picker max-w-[250px] w-full border border-slate-300 rounded outline-black"
			[inputClass]="'outline-inherit px-2 py-1 w-full'"
			[inputTimeShow]="categoryMode === 'time'"
			[inputNumberShow]="categoryMode === 'number'"
			formControlName="count"
		></la-time-number-picker>
	</label>

	<label class="flex gap-x-5 justify-between items-center">
		Comment
		<input
			type="text"
			formControlName="comment"
			class="px-2 py-1 border border-slate-300 rounded"
		/>
	</label>

	<label class="flex gap-x-5 justify-between items-center">
		Date
		<input
			type="datetime-local"
			formControlName="date"
			class="px-2 py-1 border border-slate-300 rounded"
		/>
	</label>

	<div class="flex gap-x-5 justify-between items-center">
		Category:
		<la-category-select
			(click)="stopPropagation($event)"
			class="w-full rounded order-2 border row-span-2 border-slate-400"
			buttonClass="px-4 py-2"
			[categories]="categories"
			[categoryGroups]="categoryGroups"
			formControlName="category"
		></la-category-select>
	</div>

	<span
		*ngIf="errorMessage"
		class="text-red-400 text-center text-sm"
	>
		{{ errorMessage }}
	</span>

	<button
		type="submit"
		class="border py-2 rounded-md"
		[ngClass]="{
			'border-green-500 bg-green-100': formTypeIsAdd,
			'border-sky-500 bg-sky-100': formTypeIsEdit
		}"
	>
		{{ formTypeIsAdd ? 'Add' : 'Save' }}
	</button>
</form>
