<div class="h-full w-full pb-20 flex items-center justify-center">
	<div
		class="text-xl text-transparent bg-clip-text bg-gradient-to-r from-purple-500 to-pink-600"
		*ngIf="currentStatus === null || currentStatus === 'synchronization'"
	>
		Loading...
	</div>

	<div
		class="flex flex-col items-center gap-y-2 justify-center"
		*ngIf="currentStatus !== null && currentStatus !== 'synchronization'"
	>
		<div
			class="text-xl flex gap-x-1 text-slate-800"
			data-testid="first"
		>
			<span class="text-pink-500">Statistic</span>
			not found
		</div>
		<div
			class="text-lg text-slate-500"
			data-testid="second"
		>
			For add -
			<a
				class="text-slate-800 border-pink-500 hover:border-b-2 transition-all duration-75"
				[routerLink]="'/'"
			>
				Go to the home page
			</a>
		</div>
	</div>
</div>
